{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Document</title>

<style>
  body
  {
  font-family: Arial, Helvetica, sans-serif;
  }
</style>
</head>


<body style="background-color: #EDC7B7">


    <h1 style="color: #AC3B61">About Us</h1>

    <h2 style="color: #123C69">Car Rentals in Bangalore</h2>
    <p1 align="justify">The ever-expanding city of Bengaluru, is home to many cute cafes, business centres and lush green parks. The wide roads and well-planned highways make the city thoroughly connected. Given the vast network of roads and highways exceeding 3000 km that connects Bangalore to its surroundings, it isn’t surprising to know that there’s been a surge in the number of car rentals within the city.</p1>


    <h2 style="color: #123C69">Places to Go</h2>
    <p1 align="justify">Since Bangalore’s airport is at a distance from the city, we recommend getting a self-drive car rental in Bangalore as soon as you land. You can drive straight to your business meeting, or if you’re here for leisure, head to the Lalbagh Botanical Gardens for a bit of greenery and fresh air. The real appeal of Bangalore lies in its proximity to hill stations and national parks. <br> <br>
        You can use one of OCR's self-drive cars in Bangalore to enjoy the 5-hour journey along SH17 to Madikeri, Coorg or take the Mysore highway to drive to the Queen of the Hills, Ooty. Driving enthusiasts who are up for a challenge can even tackle the winding road that leads to Coonoor, which sits nestled in the evergreen Nilgiris. Those who want to relax around nature can visit the Nagarhole or Bandipur national parks, all of which are a short drive away from the city.</p1>

    <br></br><hr"text-align:center">

    <h2 style="color: #123C69">Selecting a Car</h2>
    <p1 align="justify">When you opt for a car rental in Bangalore, you have the option of selecting the car of your choice. Our wide fleet has a number of compact hatchbacks that are ideal for daily city drives, comfortable sedans that can be used for short trips out of the city, and spacious and tough SUVs that are best suited for long trips to hill stations.</p1>


    <h2 style="color: #123C69">Advantages of using our service</h2>
    <p1 align="justify">Renting from <a href="https://www.google.com/search?q=car+rental+system&oq=car+rental+system&gs_lcrp=EgZjaHJvbWUqCQgAEEUYOxiABDIJCAAQRRg7GIAEMgYIARAjGCcyBwgCEAAYgAQyBwgDEAAYgAQyBwgEEAAYgAQyBwgFEAAYgAQyBggGEEUYPDIGCAcQRRg80gEIMzM0M2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8" target="_blank">CRS</a> is affordable, easy and incredibly convenient. Apart from competitive hourly rental rates, we offer unlimited kilometre packages, so you can drive as far as you please without worrying about hitting your limit for the day. Bonus, all our cars come equipped with All India Tourists Permits, so you can cross city and state borders without any hassles. All you have to do is, map out your journey and enjoy the ride!</p1>
    <br> </br>
    <img src="{% static 'Car1.jpg' %}" border="5" title="Picture of the coolest car i've ever laid my eyes on">


</body>
</html>