{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'conform.css' %}">
    <title>Document</title>
</head>
<body>
    <h1 class="head">Thank you for choosing us</h1>
    <h2 class="book">Your car is booked</h2>
    <h4 class="a">Driving license and Adhar card copy should be submitted at the time of vehicle pickup</h4>
    <a class="link" href="search">back</a><br>
    <a class="link" href="/">logout</a>
</body>
</html>