{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'csignup.css' %}">
</head>
<body>
    
    <div class="signup">
    <h1 class="hedding"><u>Signup</u></h1>
    <form action="csignup" method="post">
        {% csrf_token %}
        <label>First name</label>
        <input type="text" name="firstname" ><br>
        <label>Last name</label>
        <input type="text" name="lastname"><br>
        <label>User name</label>
        <input type="text" name="username"><br>
        <label>E-mail</label>
        <input type="email" name="email"><br>
        <label>Phone No.</label>
        <input type="text" name="phone"><br>
        <label>License No.</label>
        <input type="text" name="license"><br>
        <label>Adhar No.</label>
        <input type="text" name="adhar"><br>
        <label>Password</label>
        <input type="password" name="password"><br>
        <label>Conform password</label>
        <input type="password" name="password2"><br>
        <input type="submit"><br>
        <a href="clogin" class="link">Already have an account? Click here</a><br><br><br>
    </form>
    </div>
</body>
</html>