body{
    background-image: url("bgm2.jpeg");
  background-size: cover;
}

.signup{
  color:white;
    height: 100%;
    position: absolute;
    top: 6%;
    left: 10%;
    font-size: 20px;
    
}
.link{
    background-color:white;
    font-size: 15px;
}
input{
    width: 100%;
    padding: 6px ;
    margin: 8px 0;
    box-sizing: border-box;
}